:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: white;
}

body {
  font-family: sans-serif;
  background-color: #D73F09;
  color: White;
  padding: 2em;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td {
  border: 1px solid black;
  padding: 8px;
  background-color: darkgrey;
  color: white;
}

table tr:hover {
  background-color:darkgrey;
  color: white;
  padding: 8px;
  border: black solid 2px;

}
table th {
  padding: 12px 8px;
  text-align: center;
  background-color: black;
  color: white;
}

nav {
  background-color: darkgrey;
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
  border: black solid 2px;
  padding:1em;
  border-radius:8px;
}


Link{
  text-decoration:none;
  color:red;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: black;
  }
  button {
    background-color: #f9f9f9;
  }
  
}
